@mixin buttons {
  padding: 0;
  padding-left: .5em;
  padding-right: .5em;
  background-color: $red;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  border: none;
  &:hover {
      background-color: $blue;
      color: white;
      text-decoration: none;
  }
}