@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'events';

body {
  font-family: $bodyFont;
  margin-bottom: 11%;
}

.mainButtons {
  @include buttons;
}

.iconButtons {
  color: $red;
  border: none;
  background: none;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

.addButtons {
  position: absolute;
  right: 0;
}

.paddingExtra {
  padding: .5em 2em .5em 2em;
}

.buttonDiv {
  margin-top: 2em;
  margin-bottom: 2em;
}


// DEFAULT REACT CODE BELOW:
// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
