@import '../../../styles/variables';

footer {
  background-color: $gray;
  color: $blue;
  font-weight: bolder;
  z-index: 1;
  text-align: center;
  padding-top: .5em;
}

.logo {
  text-transform: uppercase;
}

.italicized {
  font-style: italic;
}

.red {
  color: $red;
}