@import '../../../styles/variables';

// style navbar:
#navbar {
  overflow: hidden;
  background-color: $gray;
  z-index: 1;
  text-align: right;
}

// style links:
.navLinks {
  font-weight: bolder;
  color: $blue !important;
  text-decoration: none;
  text-transform: uppercase;
}

.navLinks:hover {
  color: $red !important;
}

// style buttons in navbar:

.pointerHand {
  cursor: pointer;
  font-weight: bolder;
  color: $blue !important;
  text-decoration: none;
  text-transform: uppercase;
}

.pointerHand:hover {
  color: $red !important;
}


// add sticky class:
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

// add some top padding to the page content:
.content {
  padding-top: 60px;
}